.smoleSlot{
    border: 10px solid transparent;
    border-image: url(../../../../../common/imgstyle/Images/human-borders.png) 35 round;
    width: 100%;
    display:block;
    background-color: black;
    float: left;

    
}
.smoleSlot>a>button{
    background-image: none;
    background-color: black;
    border-top:0.5px solid gold;
    margin: 0;
    width: 100%;
    height: 40px;
    font-size: 25px;
}
.smoleSlot>a>button:hover{
    color: white;
}
.smoleSlot>p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    height: 10px;

}
.smoleSlot>img{
    width: 100%;
    height: 150;
    display: block;
    
}