@font-face {
    font-family: WarcraftFont;
    src: url(../imgstyle/Fonts/LifeCraft_Font_0.ttf)
}

body{

 font-family: WarcraftFont;
 font-size: 40px;
 background-image: url(../imgstyle/Fons/fons-ork.webp);
 background-attachment: fixed;
 background-size: cover;
 color: yellow;
    
}
.Backg{
    background-color: rgba(78, 50, 50, 0.527);
    margin: -6px;
    padding: 15px;
}
.FullSlot>.Backg{
    background-color: rgba(0, 0, 0, 0.829);
    margin: -6px;
    width: 100%;
    height: 100%;
}
