@font-face {
    font-family: WarcraftFont;
    src: url(../imgstyle/Fonts/LifeCraft_Font_0.ttf)
}

body{

 font-family: WarcraftFont;
 font-size: 40px;
 background-image: url(../imgstyle/Fons/fons-ork.webp);
 background-attachment: fixed;
 background-size: cover;
 color: yellow;
    
}
button{
    background-image: url(../../common/imgstyle/Images/red-button.png);
    background-size: cover;
    border: none;
    font-size: 30px;
    margin-left: 15px;
    font-family: WarcraftFont;
    color: yellow;
    width: 237px;
    height: 60px;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-image: url(../../common/imgstyle/Images/green-button.png);
}

.Backg{
    height: 100%;
    background-color: rgba(78, 50, 50, 0.527);
    margin: -6px;
    padding: 15px;
}

